<div class="container">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('https://res.cloudinary.com/ders-cloud/image/upload/v1487609876/ryan-hefner-190737_dbdfmh.jpg');">
      <div class="banner-content">
        <h1>Welcome to Classic Cars</h1>
        <p>Browse from a selection of 1000+ vintage cars and find the one you love. <br>Are you ready to get behind the wheel?</p>
        <form action="#" class="form-inline">
          <input type="text" class="form-control input-lg" placeholder="zipcode">
          <input type="text" class="form-control input-lg" placeholder="start date">
          <input type="text" class="form-control input-lg" placeholder="end date">
          <select name="" id="" class="form-control input-lg">
            <option value="1">all</option>
            <option value="2">50's</option>
            <option value="3">60's</option>
            <option value="4">70's</option>
          </select>
          <input type="submit" class="btn btn-primary btn-lg" value="Search">
        </form>
      </div>
    </div>
</div>
