    <div class="banner" style="background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('https://res.cloudinary.com/ders-cloud/image/upload/v1487609876/ryan-hefner-190737_dbdfmh.jpg');">
      <div class="banner-content">
        <h1>Welcome</h1>
        <p>Rent unique cars from local classic car afficionados in 190+ countries.</p>
        <form action="#" class="form-inline">
          <input type="text" class="form-control input-lg" placeholder="zipcode">
          <select name="" id="" class="form-control input-lg">
            <option value="1">all</option>
            <option value="2">50's</option>
            <option value="3">60's</option>
            <option value="4">70's</option>
          </select>
          <input type="submit" class="btn btn-primary btn-lg" value="Search">
        </form>
      </div>
    </div>
