<footer>
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <ul class="list-inline">

              <li><%= link_to 'Home', cars_path %></li>
            </ul>
          </div>
          <div class="col-xs-8 text-right">
            <p>Made with love @ LeWagon</p>
          </div>
        </div>
      </div>
    </div>
</footer>
