    <div class="banner search-banner" >
      <div class="banner-content" >
      <br>
      <div class="row">
        <div class="col-xs-12">
          <h1>Classic Cars</h1>
        </div>
      </div>
        <br><br><br>
        <%= form_tag search_cars_path do %>
          <div class="highlight">
            <form action="#" class="form-inline transparent-input">
              <input id="searchTextField" style="width: 200px;" type="text" name="location" class="transparent-input" placeholder="Search by city">
              <input type="text" style="width: 200px;" name="query" class=" transparent-input" placeholder="Search car model, brand">
              <input type="submit" class="btn btn-primary" value="Search">
            </form>
          </div>
        <%end%>
      </div>
    </div>
<% content_for(:after_js) do %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_AUTOCOMPLETE_KEY']}&libraries=places"%>
  <script>
  var defaultBounds = new google.maps.LatLngBounds(
  new google.maps.LatLng(-33.8902, 151.1759),
  new google.maps.LatLng(-33.8474, 151.2631));

  var input = document.getElementById('searchTextField');
  var options = {
    bounds: defaultBounds,
    types: ['establishment']
  };

  autocomplete = new google.maps.places.Autocomplete(input, options);
  </script>
<%end%>
