    <div class="banner search-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('http://eskipaper.com/images/classic-car-interior-wallpaper-1.jpg');">
      <div class="banner-content">
        <h1>Classic Cars</h1>
        <%= form_tag search_cars_path do %>
        <form action="#" class="form-inline">
          <input type="text" name="location" class="input-sm" placeholder="Search city, address">
          <input type="text" name="query" class="input-sm" placeholder="Search car model, brand">
          <input type="submit" class="btn btn-primary btn-sm" value="Search">
        </form>
        <%end%>
      </div>
    </div>
