// .body {
//   height: 100%
// }

.container {
  min-height: 100%
}

// html{
//   position:relative;
//   min-height: 100%;
// }
// /*Normalize html and body elements,this style is just good to have*/
// html,body{
//   margin:0;
//   padding:0;
// }

html {
    height: 100%;
    margin:0;
  padding:0;
}
body {
  min-height: 100%;
  position: relative;
  padding-top:65px;
  padding: 0px;
  margin: 0px;
}
body:after {
    content: '';
    display: block;
    height: 74px;
}
