// Your footer style

#footer {
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  background: $theme-dark-blue;
  padding: 10px 0;
  color: white;
}
#footer p {
  margin-top: 15px;
}
#footer ul {
  margin-top: 15px;
}
#footer a {
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
  transition: color 0.5s ease;
}
#footer a:hover{
  color: yellow;
}
