/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  padding-top: 15px;
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
}
.alert-info {
  background: $orange;
}
.alert-warning {
  background: $red;
}
