.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  margin-bottom: 15px;
  box-shadow: 10px 10px 5px #888888;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-location {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  // background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.card-footer {
  height: 20px;
  font-size: 18px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: black;
  margin-bottom: 15px;
}
.card-image {
  height: 220px;
  background-size: cover !important;
  position: relative;

}

#content {
  // width: 600px;
  // height: 700px;
  margin: 30px 10px;
  width: 300px;
  height: 450px;
  // padding-top: 30px;
  text-align: left;
  color: #cecece;

  background: black;
  border-radius: 15px;
  box-shadow: 0px 0px 8px black;
  transition: 0.5s;

  // margin-top: 80px;
  h4 {
    padding-top: 40px;
    text-align: center;
  }
}

#content:hover {
  color: #fff;
  background-color: $orange;

  // border-color: #f7b48c;
  font-weight: bold;
  h4{
      text-shadow: 2px 0 black;
  }
}

#head {
  width: 100%;
  height: 200px;
  // margin-top: 40px;

  // background: url("http://codepen_images.johaneg.nl/bg.jpg");
  background-position: right bottom;
  // background-size: cover;
  background-size: cover !important;
  margin-bottom: 10px;

  // border-radius: 15px 15px 0 0;
}

#profile_pic {
  width: 60px;
  height: 60px;

  margin-left: 120px;
  margin-top: -100px;

  // background: url(<%avatar_url(car.user)%>);
  background-position: top !important;
  // background-size: cover;
  background-size: cover !important;

  // image-position: left top;
  // image-size: cover;

  border-radius: 100px;
  border: 5px solid white;
  box-shadow: 0px 0px 8px black;

  position: absolute;
}

#content h1 {
  position: absolute;
  width: 400px;

  margin-left: 100px;
  margin-top: 150px;

  font-size: 50px;
}

#content p {
  // font-family: "icons-social";

  padding: 0 30px;
  // font-size: 50px;
}

#content ul {
  margin-top: 250px;
}

#content ul li {
  display: inline-block;
  margin: 0px 40px;

  -webkit-transition: all 0.5s;
}

#content ul li:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -webkit-transition: all 0.5s;
}

#content ul li:hover > p {
  text-shadow: 0px 0px 5px #c7acac;
  color: white;
  -webkit-transition: all 0.5s;
}
