
.map-fixed {
  border-right: black 3px solid;
  position: fixed !important;
  left: 0px;
  top: 65px;
  bottom: 0px !important;
  z-index: 0;
  // margin: 65px 0 65px 0 !important;
  padding: 0;
  display: flex;
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  // background: black;
  // background-size: 45%;
  // transition: all 0.3s ease;
  // display: flex;
  // height: 65px;
  // padding: 0px 30px;
  // align-items: center;
  // justify-content: space-between;
  // color: white;
}

.map-body {
    width:100%;
    padding-bottom:65px;
    z-index:5;
    overflow:auto;
}
